* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.notification {
  width: 100%;
  margin: auto;
  margin-top: 5px;
  border: 2px solid #000;
  height: 70px;
  border-color: red;
}
.carousel-inner {
  height: auto;
  width: 100%;
}
.container-fluid {
  width: 100%;
  height: 100%;
}
.marqueeTag {
  margin-top: 14px;
}
.home_img {
  width: 100%;
  height: 600px;
}
.home_img_main {
  background-image: linear-gradient();
}

.map_data {
  border: "0";
  display: "flex";
  align-items: "center";
  justify-content: "center";
  width: "1500px";
  height: "500px";
  text-align: "center";
  margin-right: "100px";
}
.Initiatinve_img {
  border-radius: 8px;
}
.I_card {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .I_card {
    margin-top: 20px;
  }
  .map_data {
    height: 400px;
    width: 400px;
    margin-top: 10px;
  }
  .home_img {
    width: 100%;
    height: auto;
  }
  .carousel-indicators {
    top: 173px;
  }
  .notification {
    height: 50px;
  }
}
